.absolute {
  position: absolute
}

.max-w-lg {
  max-width: 32rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.p-3 {
  padding: 0.75rem
}
