.absolute {
  position: absolute
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.max-w-lg {
  max-width: 32rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.rounded {
  border-radius: 0.25rem
}

.border-b {
  border-bottom-width: 1px
}

.border-solid {
  border-style: solid
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-opacity-75 {
  --tw-bg-opacity: 0.75
}

.p-3 {
  padding: 0.75rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pt-3 {
  padding-top: 0.75rem
}
