.max-w-lg {
  max-width: 32rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-start {
  justify-content: flex-start
}

.rounded {
  border-radius: 0.25rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}
